:colors {
  --eerie-black: hsl(0, 0%, 13%);
}

.Cartmodal {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.cartmodal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 350px;
  max-height: 80%;
  overflow-y: auto;
  padding: 20px;
  border-radius: var(--border-radius-md);
  border: 1px solid #888;
  background-color: #fefefe;
}

.alcohol {
  position: absolute;
  top: 40px;
  right: 60px; /* Adjust the desired distance from the top */
  width: 200px; /* Adjust the desired width */
  height: auto; /* Maintain aspect ratio */
  transform: translate(0, 0); /* Reset any previous translations */
}

.btn-purchase {
  float: right;
  color: white;
  background-color: var(--eerie-black);
  font-size: var(--fs-7);
  font-weight: var(--weight-600);
  text-transform: uppercase;
  margin-top: 50px;
  padding: 10px 15px;
}

.btn-purchase:hover {
  float: right;
  color: white;
  background-color: #525252;
  font-size: var(--fs-7);
  font-weight: var(--weight-600);
  text-transform: uppercase;
  padding: 10px 15px;
}

.closeButton {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.closeButton:hover,
.closeButton:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Custom styles for desktop */
@media screen and (min-width: 768px) {
  .cartmodal-content {
    width: 60%;
    max-width: 500px;
    max-height: 70%;
    padding: 40px;
  }
  
  .btn-purchase {
    margin-top: 20px; /* Adjust the desired margin */
  }
}
