/* General Styles */

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
}

/* Header Styles */

header {
  background-color: #D6B357;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  max-width: 150px;
  vertical-align: middle;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-left: 20px;
}

nav ul li a {
  color: #000000;
  text-decoration: none;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #ffffff;
}

/* Hero Section Styles */

.hero {
  background-image: url('drinkingwine.mp4');
  background-size: cover;
  background-position: center;
  padding: 100px;
  text-align: center;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
  color: #000000;
}

.hero p {
  font-size: 24px;
  margin-bottom: 30px;
  color: #fff;
}

/* Featured Products Section Styles */

.featured-products {
  padding: 50px;
  text-align: center;
  background-color: #f9f9f9;
}

.featured-products h2 {
  font-size: 32px;
  margin-bottom: 30px;
}

.products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
}

.product {
  width: 300px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  text-align: center;
  transition: box-shadow 0.3s ease;
}

.product:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.product img {
  max-width: 100%;
  margin-bottom: 10px;
}

.product h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.product p.price {
  font-size: 18px;
  color: #333;
  margin-bottom: 20px;
}

.product .btn-primary {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.product .btn-primary:hover {
  background-color: #555;
}

section, h2 {
  text-align: center;
}


/* Footer Styles */

footer {
  background-color: #cbc81c;
  color: #fff;
  padding: 20px;
  text-align: center;
}

/* Responsive Styles */

@media (max-width: 1560px) {
  header {
    padding: 15px 40px;
  }
}

@media (max-width: 1140px) {
  .navbar {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
  }

  .navbar ul {
    padding: 1.5rem;
    display: block;
  }
}

@media (max-width: 768px) {
  .hero {
    padding: 50px;
  }

  .hero h1 {
    font-size: 36px;
  }

  .hero p {
    font-size: 18px;
  }

  .featured-products {
    padding: 30px;
  }

  .featured-products h2 {
    font-size: 28px;
  }

  .product {
    width: 100%;
  }
}
